*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}

body{
    /* background-color: var(--color-bg); */
    /* height:100%; */
}
a {
    color: unset;
    text-decoration: none;
  }
  .rightC{
    padding-left:14rem;
  }
.gradient_bg{
    /* Angry Tool */
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(2, 7, 15, 1) 57%, rgba(0, 28, 33, 1) 100%, rgba(10, 27, 40, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(2, 7, 15, 1) 57%, rgba(0, 28, 33, 1) 100%, rgba(10, 27, 40, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(2, 7, 15, 1) 57%, rgba(0, 28, 33, 1) 100%, rgba(10, 27, 40, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A1B28', endColorstr='#02070F', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(2, 7, 15, 1) 57%, rgba(0, 28, 33, 1) 100%, rgba(10, 27, 40, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(2, 7, 15, 1) 57%, rgba(0, 28, 33, 1) 100%, rgba(10, 27, 40, 1) 100%);
}

.gradient_text{
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section_padding{
    padding: 4rem 6rem;
    /* padding-left:30rem; */
}

.section_margin{
    margin: 4rem 6rem;
    /* margin-left:30rem; */
}

/* animista.net --css animation library */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width:700px){
    .section_padding{
        padding:4rem;
    }
    .section_margin{
        margin:4rem;
    }
    .rightC{
      padding-left:0rem;
    }
  }

  @media screen and (max-width:550px){
    .section_padding{
        padding:4rem 2rem;
    }
    .section_margin{
        margin:4rem 2rem;
    }
    .rightC{
      padding-left:0rem;
    }
  }